* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 400px) {
  .gallery img {
    width: 250px;
    height: 150px;
    margin: 10px;
  }
  .headings {
    font-size: 1.7rem;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 1.1rem;
  font-style: italic;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}


.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}


.headings {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}



#portfolio {
  display: flex;
  flex-direction: column;
  background-color: grey;
  color: white;
  align-items: center;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img {
  width: 360px;
  height: 240px;
  margin: 10px;
}
