body {
  background-color: #1C639F;
  color: #ffff;
  font-family: 'IM Fell DW Pica', serif;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

h2 {
  text-align: center;
  font-size: x-large;
}

p {
  font-size: large;
}

img {
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ol {
  background-color: #A7D4DE;
  color: #1C639F;
  font-size: large;
}
